.card {
  padding: 12px 24px 24px;
}

.title {
  font: var(--f-title-1);
  margin: 12px 0 24px;
}

.tabBar {
  margin-bottom: 24px;
}

.tab {
  height: 100%;
  width: 100%;
}

.tuneBtn {
  width: 36px;
  height: 36px;
  background-color: var(--c-black-8) !important;
  color: var(--c-blue) !important;
}

.title3 {
  margin: 12px 0 12px;
  font: var(--f-title-3);
  color: var(--c-black-54);
}

.dataGridWrap {
  margin-top: 12px;
}

.link {
  text-decoration: none;
  color: var(--c-blue);
}

.linkBox {
  display: flex;
  align-items: center;

  svg {
    margin-right: 4px;
  }
}

.btnsLeft {
  margin-right: auto;
}

.tabContent {
  height: 100%;

  & > :global(.MuiGrid-container) > :global(.MuiGrid-item) {
    width: 100%;
  }
}
