.copyIcon {
  position: absolute;
  top: 50%;
  right: 65px;
  margin-top: -14px;
  visibility: hidden;

  &_disabled {
    right: 33px;
  }

  :global(.MuiInputBase-root.Mui-focused) &,
  :global(.MuiInputBase-root:hover) & {
    visibility: visible;
  }
}

.arrowIcon {
  position: absolute;
  top: 50%;
  right: 95px;
  margin-top: -14px;

  &_disabled {
    right: 66px;
  }
}

.uncollapsed {
  flex-wrap: nowrap !important;
  padding-right: 80px !important;

  & > div {
    display: flex;
    overflow-x: hidden;
  }
}

.collapsed {
  padding-right: 80px !important;
}
