@import '../../mixins/flexContainer.scss';

.container {
  flex-shrink: 0;
  position: relative;
  height: 80px;
  z-index: 100;

  .filterBarContainer {
    @include makeFlexContainer(column);

    padding: 20px;
    position: absolute;
    border: 1px solid #ddd;
    z-index: 100;
    left: 0;
    right: 0;

    form {
      .filterBar {
        align-items: center;
        width: 100%;
        min-height: 40px;

        .searchIcon {
          cursor: pointer;
          color: var(--c-black-54);
        }

        .tagBox {
          align-items: center;
          width: 100%;
        }

        .moreBtn {
          @include makeFlexContainer();
          max-width: 42px;
        }

        .filterStack {
          @include makeFlexContainer(row, space-between, center);
          width: 100%;
        }
      }

      .collapsed {
        min-height: 0;
        max-height: 0;
        overflow-y: hidden;
        opacity: 0;
        transition: min-height 0.1s, max-height 0.1s, opacity 0.1s ease-in-out;
      }

      .expanded {
        transition: max-height 300ms, opacity 0.15s ease-in-out;
        max-height: 9999px;
        opacity: 1;
        padding: 20px 0;
        gap: 20px;

        @include makeFlexContainer(column, space-between, flex-start);

        .inputContainer {
          max-width: 250px;
        }

        .parameterSearchContainer {
          @include makeFlexContainer(row, space-between, center);
          gap: 15px;

          input {
            width: 300px;
          }
        }

        .filterButtonsContainer {
          @include makeFlexContainer(row, space-between, center);
          width: 100%;

          .filterButtons {
            @include makeFlexContainer(row, space-between, center);
            gap: 15px;
          }
        }
      }
    }
  }

  .contentContainer {
    position: absolute;
    top: 92px;
    left: 0;
    right: 0;
  }
}

.tuneBtn {
  width: 36px;
  height: 36px;
  background-color: var(--c-black-8) !important;
  color: var(--c-blue) !important;
}

.input {
  background-color: var(--c-white);
  max-width: 295px;
  width: 100%;
}

.chip {
  background-color: var(--c-black-8);
  color: var(--c-black-54);
  font: 16px/24px Roboto;

  &_checked {
    background-color: var(--c-blue-50) !important;
    color: var(--c-white) !important;
  }
}

.iconChecked {
  color: var(--c-white) !important;
}
