.bar {
  position: absolute;
  display: flex;
  bottom: 26px;
  align-items: center;
  flex-shrink: 0;
  height: 84px;
  margin: 0 -24px -24px -24px;
  padding: 0 24px;
  box-shadow: 0 -3px 6.27px rgba(0, 0, 0, 0.14);
}
