.card {
  padding: 24px;

  min-width: 960px;
  @media screen and (min-width: 1024px) {
    min-width: 1024px;
  }
  @media screen and (min-width: 1200px) {
    min-width: 1200px;
  }

  @media screen and (min-width: 1440px) {
    min-width: 1440px;
  }
}

.actions {
  flex-shrink: 0;
  height: 84px;
  border-top: 1px solid rgba(0, 0, 0, 0.14);
  padding: 0 24px;
}
