.card {
  box-sizing: border-box;
  padding: 12px 24px;
  height: calc(100% - var(--l-title-height));
}

.title {
  font: var(--f-title-1);
  margin: 12px 0 24px;
}

.tabContent {
  width: 100%;
  height: calc(100% - var(--l-tabs-height));
}
