.requiredField {
  border-color: #4782da;
  border-width: 1px;
}

.requiredInputRoot {
  & :global .MuiOutlinedInput-notchedOutline {
    border: 1px #4782da;
  }
}

.notEditableTextField {
  & :global .Mui-disabled.MuiInputBase-input {
    -webkit-text-fill-color: var(--c-black-38);
  }
}

.editableTextField {
  :global(.MuiAutocomplete-root) &:global(.Mui-disabled.MuiInputBase-root) {
    padding-right: 96px;
  }

  & :global .Mui-disabled.MuiInputBase-input {
    -webkit-text-fill-color: var(--c-black-87);
  }
}

.requiredFieldLabel {
  color: #4782da;
}
