.chip {
  margin: 2px;

  &:hover .copyBtn {
    right: 0;
  }

  &:hover .labelText {
    transform: translateX(-18px);
  }

  &_disabled {
    color: var(--c-black-87);
    opacity: 1 !important;
  }
}

.labelBox {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.labelText {
  position: relative;
  transition: transform, 0.2s;
}

.copyBtn {
  position: absolute;
  top: 4px;
  right: -14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  background-color: var(--c-black-26);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: var(--c-black-54);
  }

  svg {
    max-width: 8px;
    max-height: 8px;
    color: #ebebeb;
  }
}
