.card {
  width: 1200px;
  box-sizing: border-box;

  @media screen and (max-width: 1300px) {
    width: 1024px;
  }

  height: 720px;
  padding: 24px 0 0;
}

.title {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.87);

  display: flex;
  justify-content: space-between;

  margin-bottom: 24px;
  padding: 0 24px;
}

.close-button {
  padding: 0 !important;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 648px;
}

.container {
  padding: 0 48px;
}

.comments {
  height: 76px;
}

.actions-container {
  height: 84px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 -3px 6.27px rgba(0, 0, 0, 0.14);
  padding: 0 22px;
  gap: 12px;
}

.execute {
  display: flex;
  align-items: center;
  background: #4782da;
  font: var(--f-body-2);
}

.cancel {
  display: flex;
  align-items: center;
  font: var(--f-body-2);
}
