.popupContent {
  flex-grow: 1;
  padding: 16px 0 24px;
}

.searchResultText {
  margin-top: 28px;
  margin-bottom: 15px;
  color: var(--c-black-54);
  font-weight: 400;
  font-size: 16px;
}

.card {
  padding: 24px;
}

.dialogText {
  padding: 24px 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}
