.popup {
  display: flex;
  flex-direction: column;
  width: 820px;
  background-color: var(--c-white);
  box-shadow: var(--s-modal);
  border-radius: 4px;
  margin: 120px auto 0;
}

.popupContent {
  flex-grow: 1;
}

.popupBar {
  flex-shrink: 0;
  height: 84px;
  box-shadow: 0 -3px 6.27px rgba(0, 0, 0, 0.14);
  padding: 0 24px;
}

.popupTitle {
  padding: 24px 24px 0 24px;
  margin-bottom: 4px;
  font: var(--f-title-2);
}

.tabs {
  padding: 0 24px;
}

.tabContent {
  margin-top: 24px;
}
