.notEditableTextField {
  & :global .Mui-disabled.MuiInputBase-input {
    -webkit-text-fill-color: var(--c-black-38);
  }
}

.editableTextField {
  & :global .Mui-disabled.MuiInputBase-input {
    -webkit-text-fill-color: var(--c-black-87);
  }
}
