.controlItem {
  gap: 20px;
  display: flex;
  align-items: center;
  padding-top: 8px;
}

.tools {
  margin-bottom: 24px;
}

.table {
  border: 1px solid #ddd !important;
  max-height: 400px !important;
}

.card {
  padding: 24px;
}

.dialogText {
  padding: 24px 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}
