.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed var(--c-black-34);
  border-radius: 10px;
  color: var(--c-black-54);
  outline: none;
  transition: all 0.24s;
  justify-content: center;
}

.dropzone {
  height: auto;
}

.prompt {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.icon {
  margin-right: 20px;
}
