.card {
  max-height: calc(100% - 64px);
  overflow: hidden;
  margin-top: 16px;
  padding: 12px 24px;
}

.tabs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  width: 100%;
  margin-bottom: 24px;
}

.container {
  padding: 0 24px;
}

.round {
  margin-bottom: 24px;
}
