.card {
  padding: 12px 24px 24px;
}

.tabBar {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.upperGrid {
  margin-top: 5px;
}

.lowerGrid {
  margin-bottom: 15px;
}

.fieldsHeader {
  text-transform: uppercase;
  color: var(--c-black-54);
  font-weight: 500;
}

.tools {
  padding: 16px;
}

.header {
  margin-top: 0;
  font: var(--f-title-2);
}

.filterBar {
  padding: 20px;
}

.subheader {
  color: var(--c-black-54);
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 24px 0;
}

.container {
  display: flex;
  gap: 14px;
}

.tabPanel {
  width: 100%;
}
