.dateRange {
  div {
    input {
      padding-left: 40px;
    }
  }

  label[data-shrink='false'] {
    padding-left: 30px;
  }
}

.dateInput {
  position: relative;
}

.checkbox {
  position: absolute;
  margin-left: 10px;
}
