.table {
  margin-top: 24px;
  height: 242px !important;
  border-radius: 4px !important;
  border: 1px solid var(--c-black-12) !important;
}

.title {
  font: var(--f-body-2);
  color: rgba(43, 52, 68, 0.6);
  text-transform: uppercase;
  letter-spacing: 0.46px;
  margin: 24px 0;
}

.choose-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;
}

.counter-container {
  display: flex;
  gap: 4px;
}

.counter-table {
  border-radius: 4px 0 0 4px !important;
}

.delivery-table {
  margin-top: 8px;
  height: 196px !important;

  & > div > div:last-child {
    padding-top: 0 !important;
  }
}

.for-cell {
  padding: 0;
  border-left: 1px solid var(--border-color);
  border-right: none !important;
}

.tools {
  margin: 16px 0 8px;
}

.wrapper {
  margin-top: -16px;
}
