.popupContent {
  flex-grow: 1;
  padding: 24px;
}

.table {
  height: 360px !important;
  border-radius: 4px !important;
  border: 1px solid var(--c-black-12) !important;
}

.title {
  font: var(--f-body-2);
  color: var(--c-black-54);
  text-transform: uppercase;
  letter-spacing: 0.46px;
  margin-bottom: 12px;
}

.choose-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;
}
