.card {
  padding: 12px 0;
  box-shadow: none;
}

.title {
  font: var(--f-title-1);
  margin-bottom: 12px;
}

.tabBar {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tab {
  height: calc(100% - 48px);
}

.container {
  display: flex;
  gap: 15px;
  align-items: center;
}

.label {
  font: var(--f-body-3);
  line-height: 24px;
  color: var(--c-black-87);
}
