.button {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.wrapper {
  :global(.rdrDateDisplayWrapper) {
    visibility: hidden;
  }
}

.dislayDateBox {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 226px;
  width: calc(100% - 226px);
  padding: 16px;
}
