.tableFilterBar {
  justify-content: flex-end;
  padding: 14px 20px;
  border-bottom: 1px solid var(--c-black-12);
}

.menu {
  margin-top: 4px;
}

.card {
  margin-top: 16px;
  max-height: calc(100% - 96px);
}

.link {
  display: flex;
  text-decoration: none;
  color: inherit;
}

.panel {
  padding: 16px;
}

.tabPanel {
  width: 100%;
}

.title {
  margin-bottom: 28px;
}
