@mixin makeFlexBoxContainer(
  $flexDirection: 'row',
  $justifyContent: 'flex-start',
  $alignItems: 'flex-start'
) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

.container {
  position: relative;

  .filterBarContainer {
    @include makeFlexBoxContainer(column);
    padding: 20px;

    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;

    form {
      .filterBar {
        align-items: center;
        width: 100%;
        min-height: 40px;

        .searchIcon {
          cursor: pointer;
          color: var(--c-black-54);
        }

        .tagBox {
          align-items: center;
          width: 100%;
        }

        .moreBtn {
          @include makeFlexBoxContainer();
          max-width: 42px;
        }

        .filterStack {
          @include makeFlexBoxContainer(row, space-between, center);
          width: 100%;
        }
      }

      .collapsed {
        min-height: 0;
        max-height: 0;
        overflow-y: hidden;
        opacity: 0;
        transition: min-height 0.1s, max-height 0.1s, opacity 0.1s ease-in-out;
      }

      .expanded {
        transition: min-height 0.15s, max-height 0.15s,
          opacity 0.15s ease-in-out;
        max-height: 9999px;
        min-height: 500px;
        opacity: 1;
        padding: 20px 0;

        @include makeFlexBoxContainer(column, space-between, flex-start);

        .inputContainer {
          max-width: 250px;
        }

        .parameterSearchContainer {
          @include makeFlexBoxContainer(row, space-between, center);
          min-width: 400px;

          input {
            width: 300px;
          }
        }

        .filterButtonsContainer {
          @include makeFlexBoxContainer(row, space-between, center);
          width: 100%;

          .filterButtons {
            @include makeFlexBoxContainer(row, space-between, center);
            min-width: 450px;
          }
        }
      }
    }
  }

  .contentContainer {
    position: absolute;
    top: 92px;
    left: 0;
    right: 0;
  }
}

.tuneBtn {
  width: 36px;
  height: 36px;
  background-color: var(--c-black-8) !important;
  color: var(--c-blue) !important;
}

.input {
  background-color: var(--c-white);
  max-width: 270px;
  width: 100%;
}

.chip {
  background-color: var(--c-black-8);
  color: var(--c-black-54);
  font: 16px/24px Roboto;

  &_checked {
    background-color: var(--c-blue-50) !important;
    color: var(--c-white) !important;
  }
}

.iconChecked {
  color: var(--c-white) !important;
}
