@import '../../../mixins/scroll.scss';

.container {
  padding: 24px 18px 0 24px;
  max-height: 584px;
  overflow-y: auto;
  overflow-x: hidden;

  @include scroll;
}

.tools {
  margin-bottom: 24px;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 72px;
  margin-bottom: 24px;
}

.description {
  height: 108px;
}
