.box {
  position: relative;
  display: inline-block;
}

.menu {
  margin-top: 4px;
}

.menuIcon {
  display: flex;
  align-items: center;
  margin-right: 16px;
  color: var(--c-blue);
}

.link {
  display: flex;
  text-decoration: none;
  color: inherit;
}
