@import '../../mixins/scroll.scss';

.tabs {
  border-bottom: 1px solid var(--c-black-12);
  width: 100%;
}

.divisionName,
.employee {
  display: flex;

  span {
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
  }

  margin-left: var(--margin-left);
  padding: 10px;
  font-weight: 200;
}

.employee {
  .name {
    margin-left: 15px;
  }

  .hyphen {
    min-width: 24px;
    height: 24px;
  }

  .post {
    display: flex;
  }

  &_selected {
    background-color: #d0d0d0;
  }
}

.divisionName {
  margin-left: 10px;
}

.chevron {
  color: rgba(43, 52, 68, 0.6);
  transition: all 0.5s;

  &_opened {
    transform: rotate(90deg);
  }
}

.icon {
  height: 24px;
}

.card {
  height: 425px;
}

.sizer {
  @include scroll;
}

.tab {
  width: 10%;
}
