@import '../../mixins/scroll.scss';

.popup {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 700px;
  margin: 120px auto 0;
  padding: 24px;
  background-color: var(--c-white);
  box-shadow: var(--s-modal);
  border-radius: 4px;
}

.contentBox {
  position: relative;
  flex-grow: 1;
  overflow-y: auto;

  @include scroll;
}

.bar {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 84px;
  margin: 0 -24px -24px -24px;
  padding: 0 24px;
  box-shadow: 0 -3px 6.27px rgba(0, 0, 0, 0.14);
}

.popupTitle {
  font: var(--f-title-2);
}
