.label {
  text-transform: uppercase;
  color: var(--c-black-54);
  font-weight: 500;
}

.hor {
  height: 1px;
  background: var(--c-blue);
  width: 100%;
}

.horContainer {
  padding-top: 0 !important;
}
