.menu-item {
  font-family: Roboto;
  font-weight: 400;
  font-size: 15px;
  color: var(--c-black-87);
}

.menu-icon {
  display: inline-flex;
  align-items: center;
  margin-right: 16px;
  color: var(--c-blue);
}

.round {
  width: 36px;
  height: 36px;
  background-color: var(--c-black-8) !important;
  color: var(--c-blue) !important;
}
