.container {
  width: 100%;
  display: flex;
  gap: 12px;
  height: 56px;
  margin-bottom: 23px;
}

.input {
  height: 56px;
}

.border {
  border-color: #4782da !important;
  border-width: 1px !important;
}

.button {
  height: 36px;
  width: 36px;
  background-color: var(--c-black-8) !important;
  color: var(--c-blue) !important;
  margin: 10px 0;
}

.hidden {
  opacity: 0;
  height: 0;
  width: 0;
  line-height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
