.linkBox {
  display: flex;

  &:hover {
    .copyIcon {
      opacity: 1;
    }
  }
}

.link {
  display: flex;
  align-items: center;
  color: var(--c-link);
  transition: 0.3s;

  &:hover {
    color: var(--c-link);
    cursor: pointer;
  }
}

.name {
  display: inline-block;
  margin-left: 4px;
}

.copyIcon {
  opacity: 0;
  transition: opacity 0.3s;
  margin-left: 8px;
  color: var(--c-link);
}

.card {
  padding: 24px;
}

.dialogText {
  padding: 24px 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}
