@import '../../../mixins/scroll.scss';

.groupBox {
  width: 300px;
  height: 430px;
  padding: 9px 0 9px 16px;
  border: 1px solid var(--c-black-12);
  border-radius: 4px;
  overflow-x: auto;

  @include scroll;
}

.groupBtns {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.groupTitle {
  margin-bottom: 9px;
  font: var(--f-body-2);
}
.popupBar {
  flex-shrink: 0;
  height: 84px;
  box-shadow: 0 -3px 6.27px rgba(0, 0, 0, 0.14);
  padding: 0 24px;
}

.scrollBox {
  height: 512px;
  margin: 24px 6px 0 0;
  padding: 0 24px;
  overflow-y: scroll;
  overflow-x: hidden;

  @include scroll;
}
