@import '../../mixins/scroll.scss';

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 24px;
  font: var(--f-title-2);
}

.container {
  height: calc(100% - 84px);
  display: flex;
  flex-direction: column;
}

.stepper {
  padding: 0 24px;
  margin-bottom: 24px;
}

.step-icon {
  height: 36px;
  width: 36px;
}

.steps {
  height: 100%;
  padding: 6px 48px 0;
  overflow: auto;

  @include scroll;
}

.actions {
  box-sizing: border-box;
  height: 84px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 -3px 6.27px rgba(0, 0, 0, 0.14);
  gap: 12px;
  padding: 22px 24px;
}

.button {
  line-height: 24px;
  margin-left: 6px;
}
