.box {
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: flex-end;
  padding-right: 16px;
  border: 1px solid #e0e0e0;
  border-top: none;
}

.left {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  margin-left: 20px;
  margin-right: 15px;
  cursor: pointer;
  color: var(--c-black-54);

  &_disable {
    color: var(--c-black-26);
    pointer-events: none;
  }
}

.right {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  margin-left: 15px;
  cursor: pointer;
  color: var(--c-black-54);

  &_disable {
    color: var(--c-black-26);
    pointer-events: none;
  }
}

.amount {
  margin-left: 24px;
}
