@import '../../../mixins/scroll.scss';

.table {
  border-top: 1px solid #e0e0e0 !important;
  height: var(--table-height) !important;
  max-height: 100% !important;
  contain: content !important;
  overflow: overlay !important;

  @include scroll;

  & > div {
    min-width: 100% !important;
    background: #fff;

    &:first-child {
      margin-bottom: -1px;
    }

    & > div:last-child:after {
      display: none;
    }
    & > div:last-child {
      border-right: none;
      width: var(--last-child-width);
      max-width: var(--last-child-maxwidth);
    }
  }
}

.header {
  font: var(--f-body-2);
  padding: 0 8px !important;
  background: white !important;

  &:first-child {
    border-left: none;
  }

  &[aria-selected='true'] {
    outline: none;
  }
}

.cell {
  font: var(--f-body-3);
  padding: 8px !important;
  background: none;
  min-width: 100%;

  &:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: none;
  }

  &:nth-child(2) {
    padding: 0;
  }

  &[aria-selected='true'] {
    outline: none;
  }

  &:last-child {
    min-width: 100%;
  }

  &_noSelect {
    &:first-child {
      justify-content: left;
      align-items: flex-start;
    }
  }
}
