@import '../../../mixins/scroll.scss';

.groupCell {
  display: flex;
  align-items: center;
  height: 100%;
  border-right: none !important;

  &[aria-selected='true'] {
    outline: none;
  }
}

.groupCol {
  box-shadow: none !important;
  border-right: none !important;
  background: none;
}

.grid {
  border: none !important;
  border: 1px solid #e0e0e0 !important;
  height: var(--grid-height) !important;
  max-height: 100% !important;
  overflow: overlay !important;

  @include scroll;

  & > div {
    min-width: 100% !important;
    border-bottom: 1px solid #e0e0e0;
    background: #fff;

    &:first-child {
      margin-bottom: -1px;
    }

    & > div:last-child:after {
      display: none;
    }
    & > div:last-child {
      border-right: none;
      //width: var(--last-child-width);
    }
  }
}

.header {
  font: var(--f-body-2);
  padding: 0 8px !important;
  background: white !important;

  &:first-child {
    border-left: none;
  }

  &[aria-selected='true'] {
    outline: none;
  }
}

.cell {
  font: var(--f-body-3);
  padding: 8px !important;

  &:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: none;
  }

  &:nth-child(2) {
    padding: 0;
  }

  &[aria-selected='true'] {
    outline: none;
  }
}

@mixin row($font-weight) {
  &:hover {
    background-color: var(--c-black-8);
  }

  &[aria-selected='true'] {
    background-color: var(--c-blue-20);

    & > * {
      font-weight: $font-weight;
    }

    &:hover {
      background-color: var(--c-blue-30);
    }
  }
}

.row {
  @include row(400);
}

.row-weighted {
  @include row(600);
}

.helperText {
  color: rgba(0, 0, 0, 0.38);
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  text-align: left;
  margin: 4px 14px 0;
}
