.title {
  margin-bottom: 28px;
}

.card {
  width: 100%;
  max-height: calc(100% - 96px);
  overflow: hidden;
  margin-top: 16px;
}

.panel {
  margin: 16px;
  width: auto;
}

.table {
  margin: 0 15px;
}
