.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.popup {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 220px;
  background-color: var(--c-white);
  box-shadow: var(--s-modal);
  border-radius: 4px;
  margin: 120px auto 0;
}

.popupContent {
  flex-grow: 1;
  padding: 24px;
}

.popupBar {
  flex-shrink: 0;
  height: 84px;
  box-shadow: 0 -3px 6.27px rgba(0, 0, 0, 0.14);
  padding: 0 24px;
}

.popupText {
  padding-top: 20px;
  font: var(--f-body-2);
}

.toolsPanel {
  margin-bottom: 16px;
}
