.tableFilterBar {
  justify-content: flex-end;
  padding: 14px 20px;
  border-bottom: 1px solid var(--c-black-12);
}

.menu {
  margin-top: 4px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-top: 16px;
}

.panel {
  padding: 16px;
  margin-bottom: 16px;
}

.tabPanel {
  width: 100%;
}
