.stack {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.dialogContainer {
  padding: 12px 24px;
}

.toolBar,
.dialogText {
  padding: 24px 0;
}

.hor {
  margin: 48px 0 24px;
  height: 1px;
  background-color: var(--c-black-26);
}

.label {
  text-transform: uppercase;
  font: var(--f-body-2);
  color: var(--c-black-54);
}
