@import '../../../../../mixins/scroll.scss';

.container {
  flex-grow: 1;
  border-radius: 3px;
  border: 1px solid var(--c-black-26);
  overflow: auto;

  @include scroll;
}

.row {
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid var(--c-black-26);
  &:hover {
    background-color: var(--c-black-8);
  }
}

.chevron {
  margin: 8px;
  color: #4782da;
  transform: rotate(var(--rotate, 0));
}

.child {
  padding-left: 40px;
  &[aria-selected='true'] {
    background-color: var(--c-blue-20);

    &:hover {
      background-color: var(--c-blue-30);
    }
  }
}

.doc {
  margin-right: 12px;
}
