.card {
  padding: 12px 24px;
}

.title {
  font: var(--f-title-1);
  margin-bottom: 12px;
}

.tabBar {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tab {
  height: 100%;
  width: 100%;
}

.tabContent {
  height: 100%;
}
