.header {
  span {
    span:not([class]) {
      margin-left: 5px;
      font-weight: 300;
      font-size: 14px;
      color: var(--c-blue);
    }
    svg {
      margin-right: 5px;
      width: 10px;
    }
  }
}
