.toolBar {
  margin-bottom: 24px;
  padding: 8px 12px 0 0;
}

.card {
  padding: 24px;
}

.dialogText {
  padding: 24px 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
