.formSlice {
  padding: 24px 12px 0;
}

.header {
  color: var(--c-black-54);
  font-size: 20px;
  font-weight: 500;
}

.hor {
  background-color: var(--c-blue);
  height: 1px;
  margin-bottom: 8px;
}

.button {
  margin: 6px 24px 24px;
}
