.box {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background-color: #fff;
  padding-left: 72px;
  transition: padding-left 0.3s;
  z-index: 100;

  &_sidebar {
    padding-left: 324px;
  }
}

.left {
  display: flex;
  align-items: center;
}
