.label {
  margin: 18px 0;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--c-black-54);
}

.documentContainer {
  height: 297px;
}

.radioGroup {
  gap: 20%;
}

.busyRegistry {
  color: var(--c-black-54);
}
