@import '../../../../mixins/scroll.scss';

.pageContent {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 264px);
}

.subtitle {
  font: var(--f-title-3);
  color: var(--c-black-54);
}

.stageInfo {
  font: var(--f-body-3);
  margin-bottom: 12px;
  color: var(--c-black-87);

  span {
    color: var(--c-black-54);
  }
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  padding: 0 24px 24px;

  @include scroll;
}

.tools {
  margin-bottom: 24px;
}

.hor {
  height: 1px;
  width: 100%;
  background-color: var(--c-black-12);
  margin-top: 18px;
}
