.fieldsHeader {
  text-transform: uppercase;
  color: var(--c-black-54);
  font-weight: 500;
}

.checkbox {
  padding-left: 28px;
  margin-top: -8px;
}

.table {
  border: 1px solid #ddd !important;
  max-height: 400px !important;
}
