@import '../../../mixins/scroll.scss';

.dialog {
  overflow: overlay;

  @include scroll;
}

.card {
  position: relative;
  height: 840px;
  max-height: calc(100vh - 64px);
  width: 1200px;

  &_fullscreen {
    width: calc(100vw - 64px);
    height: calc(100vh - 48px);
  }
}
