.container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.growColumn {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.btn {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;

  button {
    width: 150px;
  }
}
