.progressBarLabel {
  align-items: center;
}

.progressLine {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  margin: 120px 0;
}

.progressBar {
  width: 80%;
  margin-right: 15px;
  height: 20px;
}

.label {
  font-size: 20px;
}
