@import '../../mixins/scroll.scss';

.drawer {
  width: 324px;
  background-color: var(
    --c-dark-blue
  ) !important; //@TODO разобраться как избавиться
  transition: 0.3s !important;
  overflow-x: hidden;

  &_closed {
    width: 72px;
  }
}

.drawerHeader {
  flex-shrink: 0;
  box-sizing: border-box;
  display: flex;
  padding: 24px 16px;
  height: 88px;
}

.drawerLogo {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  margin-right: 16px;
}

.drawerTitle {
  padding-left: 16px;
  color: var(--c-white-54);
  text-transform: uppercase;
  font: 500 14px/20px Roboto;
  border-left: 1px solid rgba(255, 255, 255, 0.12);
  opacity: 1;
  transition: opacity 0.3s ease;

  &_hide {
    opacity: 0;
  }
}

.drawerMenuBox {
  flex-grow: 1;
  margin-right: 1px;
  overflow-y: auto;
  opacity: 1;
  transition: opacity 0.3s ease;

  @include scroll(var(--c-dark-blue), var(--c-white-54));

  &_hide {
    .menuTitle,
    .expandIcon,
    .badge {
      display: none;
    }
    .menuIcon {
      margin: 0 auto;
    }
  }
}

.accordion {
  color: var(--c-white) !important; // @TODO
  background-color: transparent !important;
  box-shadow: none !important;
}

.accordion_internal {
  font: var(--f-body-3);
  color: var(--c-white-54);
  background-color: transparent !important;
  box-shadow: none !important;
  margin: 0 -16px;
  padding-left: 48px;

  &:before {
    content: none;
  }
}

.accordion_internal_double {
  font: var(--f-body-3);
  color: var(--c-white-54);
  background-color: transparent !important;
  box-shadow: none !important;
  margin: 0 -16px;
  padding-left: 16px;

  &:before {
    content: none;
  }
}

.accordionSubmenu {
  margin: 0 -16px;
  padding: 8px 16px 8px 48px;
  font: var(--f-body-3);
  color: var(--c-white-54);
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--c-black-26);
  }

  & a {
    color: var(--c-white-54);
    text-decoration: none;
  }
}

.menuIcon {
  margin-right: 16px;
  color: var(--c-white-54);
}

.expandIcon {
  color: var(--c-white-54);
}

.badge {
  margin: 0 16px 0 auto;
  padding: 0 8px;
  display: flex;
  align-items: center;
  flex-direction: row;
  color: var(--c-white);
  background-color: var(--c-blue);
  border-radius: 4px;
  font: 500 11px/13px Roboto;
  &:hover {
    background-color: #7398d3;
  }
}

.closeBtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 16px;
  bottom: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--c-white-54);
  background-color: #38455a;
  cursor: pointer;
  transition: transform 0.3s ease;

  &_closed {
    transform: rotate(180deg);
  }
}

.submenuOption {
  margin: 0 -16px;
  font: var(--f-body-3);
  color: var(--c-white-54);
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--c-black-26);
  }

  & a {
    display: flex;
    color: var(--c-white-54);
    padding: 8px 16px 8px 64px;
    text-decoration: none;
  }
}

.logoText {
  margin-top: 10px;
}
