.title {
  display: flex;
  align-items: center;
  font: var(--f-body-2);
}

.subtitle {
  display: flex;
  align-items: center;
  font: var(--f-body-3);
}

.link {
  text-decoration: none;
  color: var(--c-blue);
}

.linkBox {
  display: flex;
  align-items: center;

  svg {
    margin-right: 4px;
  }
}

.groupCell {
  display: flex;
  align-items: center;
  height: 100%;
}
