.row {
  &:hover {
    background-color: var(--c-black-8);
  }

  &[aria-selected='true'] {
    background-color: var(--c-blue-20);

    &:hover {
      background-color: var(--c-blue-30);
    }
  }
}
