.container {
  height: calc(100vh - 228px);
}

.title {
  padding: 24px 0 12px;
  font: var(--f-title-3);
  color: var(--c-black-54);
}

.tools {
  margin-bottom: 24px;
}

.table {
  border: 1px solid #ddd !important;
  border-radius: 5px;
}
