.container {
  height: 100%;
}

.tools {
  margin-bottom: 24px;
}

.table {
  height: calc(100% - 100px) !important;
  border-radius: 3px;
  border: 1px solid var(--border-color) !important;
  overflow: auto;
}
