.cell {
  cursor: pointer;
  box-shadow: none;
  padding: 16px;
  position: relative;

  display: flex;
  justify-content: center;
}

.checkbox {
  display: flex;
  justify-content: center;
}

.headerSelectBox {
  height: 100%;
  margin-top: -18px;
}
