.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.left-container {
  display: flex;
  gap: 12px;
  margin-right: 12px;
}

.right-container {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  max-width: var(--max-width);
}
