@mixin makeFlexContainer(
  $flexDirection: 'row',
  $justifyContent: 'flex-start',
  $alignItems: 'flex-start'
) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
}
