@mixin scroll($backgroundColor: #e6e7e9, $thumbColor: var(--c-black-26)) {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: $backgroundColor;
    border-right: 3px;
  }

  &::-webkit-scrollbar-track {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: $thumbColor;
    border-radius: 3px;
  }
}
