.container {
  display: flex;
  gap: 15px;
  align-items: center;
}

.label {
  font: var(--f-title-4);
  line-height: 24px;
  color: var(--c-black-87);
}

.text {
  color: var(--c-black-34);
  font-size: 16px;
}
