.arrWrap {
  display: flex;
  align-items: center;
  margin-left: -7px;
  outline: none;
  cursor: pointer;
}

.arrIcon {
  color: var(--c-blue);
  transform: rotate(0);
  outline: none;

  &_expand {
    transform: rotate(90deg);
  }
}
