.card {
  box-sizing: border-box;
  padding: 24px 24px 44px;
}

.title {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.87);

  display: flex;
  justify-content: space-between;

  margin-bottom: 16px;
}

.close-button {
  padding: 0 !important;
}
