.container {
  margin: 40px;
}

.card {
  padding: 15px 20px;
  margin-bottom: 30px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  &:hover {
    cursor: pointer;
  }
}

.title {
  color: rgb(25, 118, 210);
  margin-bottom: 20px;
  font-size: 22px;
}

.links {
  font-size: 14px;
}
