@import '@fontsource/roboto';

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('./fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
}

:root {
  --c-black-8: rgba(0, 0, 0, 0.08);
  --c-black-12: rgba(0, 0, 0, 0.12);
  --c-black-26: rgba(0, 0, 0, 0.26);
  --c-black-34: rgba(0, 0, 0, 0.34);
  --c-black-54: rgba(0, 0, 0, 0.54);
  --c-black-87: rgba(39, 9, 9, 0.87);

  --c-white: #fff;
  --c-white-54: rgba(255, 255, 255, 0.54);
  --c-blue: #4782da;
  --c-blue-95: rgba(71, 130, 218, 0.95);
  --c-blue-50: rgba(71, 130, 218, 0.5);
  --c-blue-30: rgba(71, 130, 218, 0.3);
  --c-blue-20: rgba(71, 130, 218, 0.2);
  --c-blue-8: rgba(71, 130, 218, 0.08);
  --c-dark-blue: #233044;

  --c-link: var(--c-blue);
  --c-link-hover: #5381c1;

  --f-title-1: 700 28px/32px Roboto;
  --f-title-2: 500 24px/24px Roboto;
  --f-title-3: 500 20px/30px Roboto;
  --f-title-4: 500 18px/25px Roboto;

  --f-body-2: 500 15px/24px Roboto;
  --f-body-3: 400 15px/24px Roboto;
  --f-small: 400 13px/18px Roboto;

  --s-4: 0 2px 2.62px rgba(0, 0, 0, 0.23);
  --s-modal: 0 24px 38px rgba(0, 0, 0, 0.14), 0 9px 46px rgba(0, 0, 0, 0.12),
    0 11px 15px rgba(0, 0, 0, 0.2);

  /* layout */
  --l-header-height: 64px;
  --l-tools-height: 68px;
  --l-title-height: 68px;
  --l-tabs-height: 48px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--c-black-87);
  background-color: #f1f5fc;
  font: var(--f-body-3);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}
