.title {
  font: var(--f-title-3);
  color: var(--c-black-54);
}

.blockTitle {
  font: var(--f-title-3);
  margin-bottom: 32px;
}

.card {
  padding: 24px;
}

.actions {
  flex-shrink: 0;
  height: 84px;
  box-shadow: 0 -3px 6.27px rgba(0, 0, 0, 0.14);
  padding: 0 24px;
}

.table {
  border: 1px solid #ddd !important;
  border-radius: 5px;
  overflow: hidden;
}
