.tuneBtn {
  width: 36px;
  height: 36px;
  background-color: var(--c-black-8) !important;
  color: var(--c-blue) !important;

  &:disabled {
    color: var(--c-black-12) !important;
  }
}

.popup {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 775px;
  background-color: var(--c-white);
  box-shadow: var(--s-modal);
  border-radius: 4px;
  margin: 80px auto 0;
}

.popupContent {
  flex-grow: 1;
  padding: 16px 0 24px;
}

.popupBar {
  flex-shrink: 0;
  height: 84px;
  box-shadow: 0 -3px 6.27px rgba(0, 0, 0, 0.14);
  padding: 0 24px;
}

.popupTitle {
  font: var(--f-title-2);
}

.searchResultText {
  margin-top: 24px;
  margin-bottom: 15px;
  color: var(--c-black-54);
  font-weight: 400;
  font-size: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tableWrap {
  min-height: 0;
  flex-grow: 1;
  flex-basis: 600px;
}
