.table {
  margin-top: 24px;
  flex-basis: 100%;
  grid-template-rows: 40px !important;
  grid-auto-rows: max-content !important;

  :global(.rdg-cell) {
    white-space: normal;
  }
}

.content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 264px);
}
