.box {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--c-black-8);
  color: var(--c-blue);
}

.badge {
  position: relative;
  width: 24px;
  height: 24px;

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #f44336;
    box-shadow: 0 0 0 2px #ebebeb;
  }
}

.user {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  padding: 0 16px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 12px;
    width: 1px;
    height: 40px;
    background-color: var(--c-black-8);
  }
}

.avatar {
  width: 50px;
  height: 50px;
  margin-right: 16px;
  border-radius: 50%;
  background-color: var(--c-black-12);
}

.userName {
  font: var(--f-body-2);
}

.userPosition {
  font: var(--f-small);
}

.expandBtn {
  margin-left: 16px;
  color: var(--c-black-54);
  cursor: pointer;
}

.menuIcon {
  margin-right: 16px;
  color: var(--c-blue);
}
